@model Authenticate.Models.OtherLeaveModel

@{
    ViewData["Title"] = "New Other Leave";
}

<h4>New Other Leave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                <select id="select1" asp-for="LeaveType" class="form-control">
                    <option selected disabled>Select Leave Type</option>
                    <option>Paternity Leave</option>
                    <option>Maternity Leave</option>
                    <option>Marriage Leave</option>
                    <option>Pilgrimage Leave</option>
                    <option>Compassionate Leave</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileReason" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="FileReason" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose file.....</label>
                </div>
                <span asp-validation-for="FileReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}